extends layout

block content
  .status.col-md-offset-1(ng-controller="statusCtrl")
    form(name="statusForm", no-validate, ng-submit="submit()")
      .row
        .col-md-6
          div.form-horizontal
            div.form-group
              label.col-md-2.text-primary(for="user") User : 
              select#user.col-md-6.well(name="userSelect", ng-model="status.user", required)
                option(value="") Select your name
                optgroup(label="Name")
                  option(value="1") Ram
                  option(value="2") Pankaj
                  option(value="3") Adwitiya
                  option(value="4") Rani
                  option(value="5") Madhuri
      .row
        .col-md-3
          div.form-group
            button(type="button", value="today", class="button") What was done Today :
        .col-md-3
          div.form-group
            button(type="button", value="tomorrow", class="button") What is planned for tomorrow :
        .col-md-3
          div.form-group
            button(type="button", value="risks", class="button") Risks
      .row
        .col-md-2.col-md-offset-3
          button(name="submit", value="submit").btn-primary.btn Submit


