doctype html
html
  head
    title= title
    //- inject:vendor:css
    //- endinject

    //- inject:css
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    //- endinject

  body
    block content

    //- inject:vendor:js
    //- endinject

    //- inject:js
    script(src='/public/javascripts/app.js')
    //- endinject