doctype html
html(ng-app="autoStatus", ng-cloak)
  head
    title= title
    //- vendor:css
    link(rel='stylesheet', href='/vendors/stylesheets/vendors.css')
    //- endinject

    //- inject:css
    link(rel='stylesheet', href='/stylesheets/styles.css')
    //- endinject

  body
    div.container-fluid
        .row
            .col-md-12
                div.page-header
                    h1 AutoStatus - 
                        small Automated Status Manager
        block content
    //- vendor:js
    script(src='/vendors/javascripts/vendors.js')
    //- endinject

    //- inject:js
    script(src='/javascripts/app.js')
    script(src='/javascripts/Services/status.js')
    script(src='/javascripts/Services/form.js')
    script(src='/javascripts/Controllers/statusCtrl.js')
    //- endinject