doctype html
html(ng-app="autoStatus", ng-cloak)
  head
    title= title
    //- vendor:css
    link(rel='stylesheet', href='/vendors/stylesheets/vendors.css')
    //- endinject

    //- inject:css
    link(rel='stylesheet', href='/stylesheets/styles.css')
    //- endinject

  body
    block content

    //- vendor:js
    script(src='/vendors/javascripts/vendors.js')
    //- endinject

    //- inject:js
    script(src='/javascripts/app.js')
    //- endinject