.row {
  margin-bottom: 20px;
}
.button {
  background: linear-gradient(to bottom, #d7d7d7 75%, #a1a1a1);
  border: 1px solid #d5d5d5;
  color: #b62424;
  text-shadow: 0 1px 1px #fff;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1.2em;
}
