// Bootstrap overrides

.row
  margin-bottom 20px

.button
  background linear-gradient(to bottom, #D7D7D7 75%,#A1A1A1)
  border 1px solid #d5d5d5
  color #B62424
  text-shadow 0 1px 1px rgba(255,255,255,1)
  padding 10px 15px
  border-radius 4px
  font-size 1.2em
